.meme-box
  %h1 your photo
  - if can? :destroy, Meme
    = link_to "Delete", meme_path(meme), :method=>:delete
  = link_to (image_tag meme.url+ "/convert?w=300&h=300", :alt => "alternate text for a image"), meme
  = form_tag vote_create_meme_path(meme) do
    - if can? :manage, :all
      = button_tag "Admin Upvote", :name => "vote_type", :value => "admin_up"
      = button_tag "Admin Downvote", :name => "vote_type", :value => "admin_down"
      
    = button_tag "Upvote", :name => "vote_type", :value => "up"
    %span.meme-score= meme.score
    = button_tag "Downvote", :name => "vote_type", :value => "down"
    .social-box
      = social_share_button_tag("Check out this meme from #DBCmeme !", :url => meme_url(meme), :'data-source' => meme.url, :'data-type' => 'photo') 
      %span Tweet me!
