
.container
  - if flash[:error]
    %p= flash[:error]

  - if flash[:notice]
    %p= flash[:notice]

  - if can? :create, Meme
    = button_tag "Upload a meme", :id => 'upload', :class => "btn btn-primary"

  - unless current_user
    .google-container.pagination-centered
      %a{:href => "/auth/google_oauth2"}
        %img{:src => "https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png"}
  - else
    %p= "Welcome, " + current_user.full_name
    = link_to "Sign out", log_out_user_path(current_user)

  .gallery
    .row
      - @memes.each do |meme|
        = render_meme_box(meme)
  =render :partial => "home/leaderboard", :locals => {:leaders => @leaders}
