%html
  %head
    %title MemeOverflow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = filepicker_js_include_tag
    = csrf_meta_tags
  %body
    %iframe{:src => "http://phase4-floorduty.herokuapp.com", :width => "100%", :height => "100%" }
    - if flash[:notice]
      %p= flash[:notice]
    - else
      .presenter-body
        =render_presenter_box(@meme)

