.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "MemeOverflow", root_path, :class => "brand brand-shift"
      %ul.nav.pull-right
        - if can? :create, Meme
          %li
            = link_to "Upload a meme", '#', :id => 'upload'
        %li= link_to "TV mode", present_memes_show_path
        - if current_user
          %li
            %a{href: "#"}= current_user.full_name
          %li= link_to "Sign out", log_out_user_path(current_user)
